[Unit]
Description=AQI and Temp/RH Sensor Monitor (Python Script)
After=network.target

[Service]
ExecStart=/usr/bin/python3 main_prometheus.py
WorkingDirectory=/home/bernp/sourcecode/particle/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=bernp

[Install]
WantedBy=multi-user.target

